body {
  background-color: #5E5768;
  display: flex;
}

.calculatorContainer {
  display: flex;
  margin: 10rem auto;
  justify-content: center;
  background-color: #F4A261;
  width: 20rem;
  height: 25rem;
  flex-direction: column;
  align-items: center;
}

.calculatorScreen {
  display: flex;
  width: 18rem;
  height: 10rem;
  background-color: #E9C46A;
  margin: 1rem 0 0 0;
}

.calculatorKeys {
  display: flex;
  margin: 1rem;
  background-color: #3A445D;
  width: 18rem;
  height: 14rem;
}